body{
    font-family: system-ui;
    margin: 20px;
    padding: 20px;
}

#productList{
    margin-bottom: 20px;
}

.product, .cartItem{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

button{
    margin-top: 5px;
}